%header#main_navigation.clearfix
  = link_to "ZAN Blog", root_path, class: "name"
  %nav
    = link_to "Articles", posts_path
    = link_to "Projects", projects_path
    = link_to "Contacts", contacts_path
